* {
    padding: 0;
    margin: 0;
}
.profile{
    margin: auto;
    width: 60%;
}
.profile_color{
    height: 30px;
}
.profile_row{
    display: flex;
}
.profile_row_name{
    width: 20%;
}
.profile_row_color{
    width: 80%;
    background-color: #cccccc;
    height: 15px;
    margin-top: 7px;
}
.profile_color{
    height: 100%;
}